---
import 'fullpage.js/dist/jquery.fullpage.css';
import 'fullpage.js/dist/jquery.fullpage.min.css';
import QueEs from './queEs.astro';
---

<div id="fullpage">
  <div class="section">
    <h1>hola</h1>
  </div>
  <div class="section">
    <h1>hola 2</h1>
  </div>
</div>

<!-- <script type="module" client:load>
  import fullpage from 'fullpage.js';

  new fullpage('#fullpage', {
    licenseKey: 'YOUR_KEY_HERE', // o 'OPEN-SOURCE-GPLV3-LICENSE'
    scrollingSpeed: 500,
    autoScrolling: true,
    navigation: true,
  });
</script> -->
