<header class="header-coyuntura">
    <nav class="header-coyuntura__nav">
        <img src="/img/logo-sfvc.svg" alt="Logo SFVC" width="100" />
        <a href="">
        <img src="/img/mapa.svg" alt="Map logo" width="24" />
        </a>
    </nav>
</header>
  