---
import Section from "./section.astro";

---

<Section>
  <div class="que-es">
    <div class="que-es__content">
      <h2 class="que-es__title">Nodo Tecnológico</h2>
      <em class="que-es__description">
        El Nodo Tecnológico de Catamarca conecta innovación y tecnología, impulsando a los jóvenes hacia las habilidades del futuro a través de cursos especializados.
      </em>
      <small class="que-es__small">Emilio Ramasi - Director del nodo</small>
    </div>
    <div class="que-es__image-container">
      <img 
        src="/logo-giro.svg" 
        alt="Logo Giro" 
        class="que-es__image" 
      />
    </div>
  </div>
</Section>