/* .carousel */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem 0;
    width: 100%;
    height: 10%;
  }
  
  /* .carousel__button */
  .carousel__button {
    cursor: pointer;
    padding: 10px;
    transition: opacity 0.3s ease;
  }
  
  .carousel__button:hover {
    opacity: 0.8;
  }
  
  .carousel__button--prev {
    position: absolute;
    left: 0;
  }
  
  .carousel__button--next {
    position: absolute;
    right: 0;
  }
  
  /* .carousel__dots */
  .carousel__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  /* .carousel__dot */
  .carousel__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .carousel__dot--active {
    background-color: #007bff;
    transform: scale(1.2);
  }
  
  .carousel__dot:hover {
    background-color: #0056b3;
  }
  