.testimonial {
    height: 100%;
    max-width: 95dvw;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 0;
    overflow-x: auto;
    overflow-y: hidden; /* Oculta scroll vertical innecesario */
    scroll-behavior: smooth; /* Suaviza el scroll */
  }
  
  .testimonial__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    width: max-content;
    height: 90%;
    padding: 10px;
    margin: 0px 10px;
  }
  
  
  .testimonial__title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .testimonial-card {
    background-color: #ffffff73;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    position: relative;
    width: 350px;
    overflow: hidden; /* Ensures that no overflow occurs if the video is stretched */
    scroll-snap-align: start;
  }
  
  .testimonial-card__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; /* Ensure the video is behind the text and author content */
  }
  
  /* Add a black mask coming from the bottom */
  .testimonial-card__video::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Adjust based on how much mask you want */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* Gradient from black to transparent */
    z-index: 2; /* Make sure it's above the video but below the author section */
  }
  
  .testimonial-card__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 0px 20% 0px;
    gap: 10px;
    z-index: 3; /* Make sure author is above the video and mask */
    background: rgba(0, 0, 0, 0.6); /* Optional: Add a semi-transparent black */
    pointer-events: none;
    box-shadow: -5px -50px 25px 1px rgba(0, 0, 0, 0.6);
  }
  
  .testimonial-card__name {
    font-weight: bold;
    color: white;
  }
  
  .testimonial-card__role {
    font-size: 1rem;
    color: whitesmoke;
  }
  
  .testimonial-card__text {
    font-size: clamp(0.5rem, 4vw, 0.75rem);
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 3; /* Ensure text is above the video and mask */
  }

  .testimonial-card:first-child {
    margin-left: 0 !important;
  }